body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 1rem;
}

h2 {
	color: navy;
	text-align: left;
    margin: 0;
    grid-column:  1 / span 2;
}

h3 {
    margin-bottom: 0.5rem;
    }


article p {
	text-align: justify;
}

.banner {
	border: 1px solid rgb(0 0 0 / 0.2);
	padding: 1rem;
	background-color: rgb(230 243 254 / 1);
	font-weight: 700;
	word-break: break-word;
	text-align: center;
}
.callout, .callout h3 {
    text-align: left;
	color: #ffecdb;
	background-color: #702963;
    padding: .5rem;
    grid-column: 1/3;
}


footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
    display: grid;
}
