*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 0rem;
}

header p{
    background-color: #555555;
    color: white;
    height: 5rem;
    padding: 1rem;
}

header nav ul{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    list-style-type: none;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 18rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    height: 10rem;
}

/*Div-classes*/

.one{
    background-color: #808080;
    padding: 1rem;
}

.two{
    padding: 1rem;
}