*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    list-style: none;
}

header p {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

 header, footer{
    background-color: #a7e2e4;
    color: black;
    padding: 2rem;
}

a:hover{
    text-decoration:underline;
}
.container-temples{
    display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px;
	place-items: center;
   
}

h1 {
    text-align: center;
    padding: 1rem;
}

figcaption{
    text-align: center;
    color: #111722;
}

footer{
    text-align: center;
    margin-top: 1rem;
}


img{
    width: 100%;
    height: 150px;
}

main{
    margin: 0 auto;
    max-width: 840px;
}

section{
    background-color: #E4B4C2;
    padding: 20px;
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   
    
}

section p{
    font-size: 10px;
    font-style: italic;
    text-align: center;
}

section h3{
    text-align: center;
}

 /*Small view navigation*/
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: black;
 	position: absolute;
	top: 2.2rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.nav-burguer-view{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #E4B4C2;
}

.nav-burguer-view a{
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}



.open a{
    display: block;
}



.tab::before {
  margin-right: 0.5rem;
}

/* Active tab shows arrow + background */
.tab:target::before {
  content: "➡️";
}

.tab:target {
  background-color: #80deea;
  font-weight: bold;
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
}
