:root {
    --main-color: #061830;
    --secondary-color: #8FB9C6;
    --third-color: #346E93;
    --accent-color: #e4f1fe;
    --secondary-accent-color: #000036;
    --tertiary-accent-color: #fffacd;
    --title-font: "Bitcount Prop Single", system-ui;
    --body-font: "Quicksand", sans-serif;
}

/* Base styles */
body {
    font-family: var(--body-font);
    background-color: var(--third-color);
    margin: 0;
    padding: 1rem;
    color: var(--secondary-accent-color);
}

main p{
    max-width: 600px;
    margin: auto;
    color: var(--secondary-accent-color);
    background-color: var(--secondary-color);
    padding: 2rem;
}

form {
    
    margin: auto;
    color: var(--secondary-accent-color);
    background-color: var(--secondary-color);
    padding: 2rem;
}

h1 {
    text-align: center;
    font-family: var(--title-font);
    font-weight: normal;
    background-color: var(--main-color);
    color: var(--accent-color);
    margin-bottom: 1.5rem;
}

label,
div {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
}

select,
input[type="date"],
input[type="text"],
textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.rating-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.rating-group label {
    display: flex;
    flex-direction: column-reverse;
    font-size: smaller;
    color: var(--secondary-accent-color);
    text-align: center;
}


.checkbox-group {
    margin-top: 1rem;
}

.checkbox-group label {
    display: block;
    margin-top: 0.5rem;
}

input[type="submit"] {
    background-color: var(--third-color);
    color: var(--tertiary-accent-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: var(--accent-color);
    background-color: var(--main-color);
}