@media (min-width: 500px)  {
    form {
    max-width: 600px;
    margin: auto;
    color: var(--secondary-accent-color);
    background-color: var(--secondary-color);
    padding: 2rem;
}

.rating-group label {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.5rem;
    color: var(--secondary-accent-color);
    text-align: center;
}

}