@media  (min-width: 600px) {

h2{
    text-decoration: none;
}

.weather-data{
    min-width: 100px;
    position: absolute;
    min-width: 100px;
    height: auto;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
   
}

.place-data{
    min-width: 100px;
    position: absolute;
    height: auto;
    left: 1rem;
    top: 1rem;
    padding: 1rem;
    border: 2px solid var(--main-color);
        border-radius: 10px;
        background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.weather-data h2{
    position: relative;
    background-color: black;
    text-align: left;
    padding: 1rem;
    top: auto;
    right: 1rem;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.3);
}

.place-data h2{
    position: relative;
    background-color: rgba(0, 0, 0, 0.905);
    text-align: left;
    padding: 1rem;
    top: auto;
    right: 1rem;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.3);
}
.weather-data p{
    padding-top: 1rem;
}

.place-data p{
    padding-top: 1rem;
}
.weather-icon{
    display: none;
}
.weather-icon-large::after{
    content: "🌤️";
}




}