:root{
    --main-color: #275DAD;
    --secondary-color: #e4f1fe;
    --third-color: #fff;
    --accent-color: #e4f1fe;
    --secondary-accent-color: #275DAD;
}

*{
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 AUTO;
    padding: 0;
    font-family: quicksand, sans-serif;
    text-align: center;
}

h1{
    background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
    text-align: center;
    padding: 1rem;
}

h2{
    text-decoration: underline;
}

section{
    background-color: var(--secondary-accent-color);
    color: var(--secondary-color);
}

img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin: 0;
    margin-top: 1rem;
}

footer{
    background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
    text-align: center;
    padding: 1rem;
}

/*Classes*/
.weather-data, .place-data{
    border-top: 5px solid var(--third-color);
}

.labels-one, .labels-two{
    text-align: right;
}

.weather-columns,.place-columns{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
.values-one, .values-two{
    text-align: left;
}
.weather-icon{
    width: 100px;
    justify-self: center;
}

