@media (min-width: 640px){
    
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    ul {
    display: flex;
    justify-content: flex-end;
    }

    li{
        margin-left: 1rem;
        
    }
    

    main{
        display: grid;
        grid-template-rows: auto auto;
    }

    .temples-img{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

}