@media (min-width: 500px){
    header{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    #menu{
        display: none;
    }
    .nav-burguer-view{
        display: flex;
        flex-direction: row;
        background: none;
    }
    
    .nav-burguer-view a{
        display: block;
        flex: 1 1 100%;
    }

    li {
        margin-left: 1rem;
    }
    

    main{
        display: grid;
        grid-template-rows: auto auto;
    }

    .temples-img{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    
}

}